* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  font-size: 0;
}

section {
  width: 50%;
  height: 100vh;
  display: inline-block;
  transition: all 0.2s;
}

section h1 {
  font-weight: 400;
  text-align: center;
}
.active h1 {
  margin-top: 30vh;
}
.notactive h1 {
  margin-top: 40vh;
  color: #999;
}

.left {
  position: absolute;
  top: 0;
  left: 0;
}
.right {
  position: absolute;
  top: 0;
  right: 0;
}

.active {
  background: #fff;
  width: 70%;
  font-size: 10vw;
}
.notactive {
  background: #ddd;
  width: 30%;
  font-size: 5vw;
}

p {
  background: rgba(0,0,0,0.2);
  color: #fff;
  display: inline-block;
  width: 25%;
  padding: 10px;
  position: absolute;
  bottom: 1vw;
  left: 37.5vw;
  font-size: 35px;
  text-align: center;
}
